.main {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
  padding: 4rem 40px;
  background-color: #36393B;
  color: #F2AA4C;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 60px 80px;
  margin: 0 40px;
  border: #F2AA4C solid 1px;
  min-width: 750px;
}

.boxDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 20px;
  font-family: 'Calistoga';
}

.boxTitle {
  font-family: 'Bangers';
  font-weight: normal;
  text-decoration: underline;
}